body{
    padding: 2em;
}

.headerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: tomato;
    font-weight: bold;
    padding: 10px;
}
            
.mainContainer{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.footerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: lightgreen;
    font-weight: bold;
    padding: 10px;
 }
           
 .mainContainerItem{
    text-align: left;
    background: deepskyblue;
}

.sidebarLeftItem{
    background: gold;
}

.sidebarRightItem{
    background: hotpink;
}
    
article{
    background: 10px;
    margin: 10px;
    background: aqua;
 }

.sideBarItem{
    flex: 1 0 0 ; border: 6px solid green;
}

.mainContainerItem{
    flex: 3 0px;
}

.sidebarLeftItem{
    order: 1;
}
            
.mainContainerItem{
    order: 2;
}

.sidebarRightItem{
    order: 3;
}